<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <title>DataUserGame</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <p>Welcome to <%= user %></p>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Username</th>
          <th scope="col">Email</th>
          <th scope="col">Nama</th>
          <th scope="col">Alamat</th>
          <th scope="col">No. Telp</th>
        </tr>
      </thead>
      <tbody>
        <% for(let i=0; i<user.length; i++) {  %>
        <tr>
          <td><%= i+1%></td>
          <td><%= user[i].username %></td>
          <td><%= user[i].email %></td>
          <td><%= user[i].user_biodata? `${user[i].user_biodata.nama}`: '' %></td>
          <td><%= user[i].user_biodata? `${user[i].user_biodata.alamat}`: '' %></td>
          <td><%= user[i].user_biodata? `${user[i].user_biodata.notelp}`: ''  %></td>
        </tr>
        <% } %>


      </tbody>
    </table>
  </body>
</html>